html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
p,
h1,
h2,
h3,
h4,
ul,
img,
div {
  margin: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
}
:root {
  --primary-text-color: rgba(0, 0, 0, 0.8);
  --title-text-color: #000000;
  --accent-color: #18a0fb;
  --primary-whyte-color: #ffffff;
}

body {
  font-family: var(--main-font);
  background-color: var(--primary-whyte-color);
  color: var(--primary-text-color);
  font-family: "Roboto";
  margin: 0px;
}
.list {
  padding: 0;
  margin: 0;
  list-style: none;
}
a {
  color: black;
  text-decoration: none;
  background: linear-gradient(
      to right,
      rgba(100, 200, 200, 1),
      rgba(100, 200, 200, 1)
    ),
    linear-gradient(
      to right,
      rgba(255, 0, 0, 1),
      rgba(255, 0, 180, 1),
      rgba(0, 100, 200, 1)
    );
  background-size: 100% 3px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}
a:hover {
  background-size: 0 3px, 100% 3px;
}
/* .header {
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
} */
/* .header-icon {
  display: inline-block;
  justify-content: flex-end;
} */
*/
/* .conteiner {
   display: flex;
   align-items: center;
   width: 1200px;
   padding-left: 15px;
   padding-right: 15px; 
   margin: 0 auto;
}  */
body {
  font-family: "Montserrat", sans-serif;
  background-color: #f5f7fa;
}

.Main-container {
  display: flex;
  /* align-items: center; */
  flex-direction: row-reverse;
  background: #fff;
  font-family: "Montserrat", sans-serif;
  position: absolute;
  width: 1200px;
  height: 1319px;
  left: 40px;
  top: 40px;

  background: #ffffff;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
}
.container {
  margin-top: 102px;
  margin-left: 88px;
}
h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  color: #000000;
}
h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 55px;

  color: #000000;
  margin-top: 19px;
  margin-bottom: 24px;
}
.about-me-section {
}
.My-project-section {
}
.My-work-section {
}
.My-Education-section {
}

.Sidebar-section {
  width: 370px;
  height: 1319px;
  background: linear-gradient(
    to bottom right,
    hsl(150 100% 50%),
    hsl(228, 100%, 60%)
  );
  border-radius: 1rem;
  color: honeydew;
  padding-left: 40px;
}
.photo {
  /* position: absolute; */
  /* width: 370px; */
  height: 354px;
  padding-top: 20px;
}
.contacts {
  margin-top: 51px;
}
h3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  /* identical to box height */

  color: #ffffff;
}
